@font-face {
    font-family: 'Chinese Rocks Rg';
    src: url('ChineseRocksRg-Regular.woff2') format('woff2'),
        url('ChineseRocksRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

